@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Baseado no curso completo de C# do professor
    <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/">Dr. Nelio Alves</a>
</p>

<p>
    <a href="https://github.com/roblopes7">
    Github Robson Lopes
    </a>
</p>

